/* TODOLISTPOKEMON/css/layout.css */
/*
Define os estilos principais de layout da aplicação, incluindo
o posicionamento e espaçamento do conteúdo principal (`.main-content`)
em relação ao cabeçalho e à barra lateral (sidebar), e o padding
padrão das seções (`.section`). Ajusta a margem esquerda do conteúdo
principal em telas maiores para acomodar a sidebar fixa.
*/
.main-content {
    padding-top: 76px;
    min-height: calc(100vh - 60px);
    transition: margin-left var(--transition);
    margin-left: 0;
    padding-bottom: 3rem;
}

.section {
    padding: 2.5rem 0;
}


.section > .container > *:not(:last-child) {
    margin-bottom: 2rem;
}



@media (min-width: 768px) {
    .main-content {
        margin-left: 250px;
    }
}


@media (max-width: 767px) {
    .sidebar:not(.active) + .main-content {
        margin-left: 0;
    }
    .container {
        padding: 0 1rem;
    }
     .section {
        padding: 1.5rem 0;
    }
}